Be sure to run the following notebook first before running this notebook:
- 1-load-and-convert-statsbomb-data.ipynb

In [1]:
%load_ext autoreload
%autoreload 2
import os;

import tqdm
import pandas as pd
import numpy as np
import socceraction.vaep.features as fs
import socceraction.xthreat as xthreat

In [2]:
## Configure file and folder names, use SPADL format.
datafolder = "../data-fifa"
spadl_h5 = os.path.join(datafolder,"spadl-statsbomb.h5")

In [3]:
## Select games
games = pd.read_hdf(spadl_h5,"games")
games = games[games.competition_name == "FIFA World Cup"]
print("nb of games:", len(games))

actiontypes = pd.read_hdf(spadl_h5, "actiontypes")
bodyparts = pd.read_hdf(spadl_h5, "bodyparts")
results = pd.read_hdf(spadl_h5, "results")
players = pd.read_hdf(spadl_h5, "players")
players["player_name"] = players[["player_nickname","player_name"]].apply(lambda x: x[0] if x[0] else x[1],axis=1)

nb of games: 64

In [4]:
## Read in all actions of games
A = []

for game in tqdm.tqdm(list(games.itertuples())):
    actions = pd.read_hdf(spadl_h5,f"actions/game_{game.game_id}")
    actions = (
        actions.merge(actiontypes,how="left")
        .merge(results,how="left")
        .merge(bodyparts,how="left")
        #.sort_values(["period_id", "time_seconds", "timestamp"])
        .reset_index(drop=True)
    )
    [actions] = fs.play_left_to_right([actions],game.home_team_id)
        
    A.append(actions) 
    
A = pd.concat(A).reset_index(drop = True)

100%|██████████████████████████████████████████████████████████████████████████████████| 64/64 [00:01<00:00, 35.55it/s]

In [44]:
import socceraction.xpoints as xpoints

xpoints.ScoreProgression(A, games).score_progression

,game_id,home_team_id,away_team_id,period_id,time_seconds,home_score,away_score
0,7525,796,799,1,0.0,0,0
1,7525,796,799,1,692.0,1,0
2,7525,796,799,1,2531.0,2,0
3,7525,796,799,2,1550.0,3,0
4,7525,796,799,2,2746.0,4,0
...,...,...,...,...,...,...,...
228,8658,771,785,1,1673.0,1,1
229,8658,771,785,1,2276.0,2,1
230,8658,771,785,2,813.0,3,1
231,8658,771,785,2,1176.0,4,1
232,8658,771,785,2,1388.0,4,2

In [162]:
import socceraction.xpoints as xpoints

xWinModel = xpoints.ExpectedPoints()
xWinModel.fit(A, games)

3* xWinModel.xwin + xWinModel.xdraw

array([[1.41111111, 2.15789474, 3.        ],
       [1.3902439 , 2.19047619, 3.        ],
       [1.37142857, 2.16666667, 3.        ],
       [1.30769231, 2.66666667, 2.72727273],
       [1.28571429, 2.66666667, 3.        ],
       [1.03571429, 3.        , 3.        ],
       [1.03846154, 2.93548387, 3.        ],
       [1.        , 3.        , 3.        ]])

In [186]:
xWinModel.predict(7, 1)

3.0

In [6]:
from socceraction.grid import PolarGrid

## Train model
xTModel = xthreat.ExpectedThreat()
# xTModel = xthreat.ExpectedThreat(grid = PolarGrid(), use_interpolation = False)
xTModel.fit(A)

# iterations:  45

In [28]:
# split actions according to type

mov_actions = xthreat.get_move_actions(A)
succ_mov_actions = xthreat.get_successful(mov_actions)
fail_mov_actions = xthreat.get_failed(mov_actions)
def_actions = xthreat.get_defensive_actions(A)
succ_def_actions = xthreat.get_successful(def_actions)

# calculate xT for various action types

A["xT_total"] = xTModel.predict(A)
A["xT_move_succ"] = xTModel.predict_successful_move_actions(succ_mov_actions)
A["xT_move_fail"] = xTModel.predict_failed_move_actions(fail_mov_actions)
A["xT_def_succ"] = xTModel.predict_successful_def_actions(succ_def_actions)

xT_cols = ["xT_total", "xT_move_succ", "xT_move_fail", "xT_def_succ"]

In [32]:
pd.set_option('display.max_rows', 64)
games[['game_id','home_team_name', 'away_team_name']]

    game_id home_team_name away_team_name
0      7581        Croatia        Denmark
1      7549        Nigeria        Iceland
2      7555         Poland       Colombia
3      7529        Croatia        Nigeria
4      7548         Brazil     Costa Rica
5      7534        Germany         Mexico
6      7562      Australia           Peru
7      7565         Serbia         Brazil
8      7571        Senegal       Colombia
9      7569         Panama        Tunisia
10     7568    Switzerland     Costa Rica
11     7530         France      Australia
12     7558        Uruguay         Russia
13     7583         Brazil         Mexico
14     8652         Russia        Croatia
15     7547        Denmark      Australia
16     7535     Costa Rica         Serbia
17     7546         France           Peru
18     7584        Belgium          Japan
19     7536        Belgium         Panama
20     7545      Argentina        Croatia
21     7580         France      Argentina
22     8650         Brazil        Belgium
23     8649        Uruguay         France
24     8658         France        Croatia
25     7561        Iceland        Croatia
26     7539         Poland        Senegal
27     7563        Denmark         France
28     7578          Egypt        Uruguay
29     7531      Argentina        Iceland
30     7582          Spain         Russia
31     7552        Belgium        Tunisia
32     7532           Peru        Denmark
33     7544        Uruguay   Saudi Arabia
34     7550         Serbia    Switzerland
35     7553    South Korea         Mexico
36     7560          Spain        Morocco
37     7533         Brazil    Switzerland
38     7564        Nigeria      Argentina
39     7559   Saudi Arabia          Egypt
40     7556          Japan        Senegal
41     7579        Uruguay       Portugal
42     7572          Japan         Poland
43     7577        Morocco           Iran
44     7543           Iran          Spain
45     7525         Russia   Saudi Arabia
46     7537        Tunisia        England
47     7538         Sweden    South Korea
48     7576       Portugal          Spain
49     7542       Portugal        Morocco
50     7566         Mexico         Sweden
51     7557           Iran       Portugal
52     7554        England         Panama
53     7570        England        Belgium
54     7585       Colombia        England
55     7586         Sweden    Switzerland
56     8656        Croatia        England
57     8651         Sweden        England
58     7567    South Korea        Germany
59     7541       Colombia          Japan
60     8655         France        Belgium
61     8657        Belgium        England
62     7540         Russia          Egypt
63     7551        Germany         Sweden

In [29]:
# Top 10 actions

# actions_xT = A.sort_values("xT_total", ascending=False).reset_index()

actions_xT = A[A.game_id == 7584].sort_values("xT_move_fail", ascending=True).reset_index() #Belgium Japan
    
cols = ["player_name", "game_id", "period_id", "timestamp", "type_name", "result_name"] + xT_cols
ranking = actions_xT.merge(players, how="left")[cols]
top = ranking.head(20)
bottom = ranking.tail(5)
pd.concat([top,bottom])

,player_name,game_id,period_id,timestamp,type_name,result_name,xT_total,xT_move_succ,xT_move_fail,xT_def_succ
0,Takashi Inui,7584,1,00:41:34.560,pass,fail,-0.029733,NaN,-0.029733,NaN
1,Yannick Carrasco,7584,1,00:00:50.880,pass,fail,-0.025144,NaN,-0.025144,NaN
2,Genki Haraguchi,7584,1,00:19:34.440,pass,fail,-0.019819,NaN,-0.019819,NaN
3,Toby Alderweireld,7584,2,00:29:45.860,pass,fail,-0.018058,NaN,-0.018058,NaN
4,Gaku Shibasaki,7584,2,00:18:11.060,pass,fail,-0.014637,NaN,-0.014637,NaN
5,Gaku Shibasaki,7584,1,00:23:49.080,pass,fail,-0.013331,NaN,-0.013331,NaN
6,Jan Vertonghen,7584,1,00:00:16.200,pass,fail,-0.012756,NaN,-0.012756,NaN
7,Gen Shōji,7584,1,00:42:47.840,pass,fail,-0.011980,NaN,-0.011980,NaN
8,Romelu Lukaku,7584,1,00:09:10.853,pass,fail,-0.011630,NaN,-0.011630,NaN
9,Makoto Hasebe,7584,1,00:31:44.600,pass,fail,-0.011394,NaN,-0.011394,NaN
10,Yuto Nagatomo,7584,1,00:01:55.960,pass,fail,-0.011168,NaN,-0.011168,NaN
11,Jan Vertonghen,7584,2,00:18:28.740,pass,fail,-0.011077,NaN,-0.011077,NaN
12,Yuto Nagatomo,7584,1,00:26:17.240,pass,fail,-0.010841,NaN,-0.010841,NaN
13,Maya Yoshida,7584,1,00:19:11.480,pass,fail,-0.010621,NaN,-0.010621,NaN
14,Yuto Nagatomo,7584,2,00:16:24.060,pass,fail,-0.010343,NaN,-0.010343,NaN
15,Yuto Nagatomo,7584,2,00:29:26.620,pass,fail,-0.010271,NaN,-0.010271,NaN
16,Kevin De Bruyne,7584,1,00:30:36.080,pass,fail,-0.010061,NaN,-0.010061,NaN
17,Thomas Meunier,7584,2,00:43:34.980,pass,fail,-0.009925,NaN,-0.009925,NaN
18,Shinji Kagawa,7584,2,00:22:42.700,pass,fail,-0.009884,NaN,-0.009884,NaN
19,Gaku Shibasaki,7584,2,00:31:27.380,pass,fail,-0.009843,NaN,-0.009843,NaN
2149,Kevin De Bruyne,7584,2,00:48:39.980,pass,success,0.015967,0.015967,NaN,NaN
2150,Thomas Meunier,7584,2,00:48:42.513,dribble,success,0.001253,0.001253,NaN,NaN
2151,Thomas Meunier,7584,2,00:48:42.620,pass,success,0.096102,0.096102,NaN,NaN
2152,Nacer Chadli,7584,2,00:48:44.300,shot,success,0.000000,NaN,NaN,NaN
2153,Shinji Kagawa,7584,2,00:50:02.780,pass,success,0.000000,0.000000,NaN,NaN

In [10]:
# Top 10 players

players_xT = (
    A
    .groupby(['player_id']) 
    .agg({'xT_total': 'sum', 'xT_move_succ': 'sum', 'xT_move_fail': 'sum', 'xT_def_succ': 'sum'}) 
    .sort_values("xT_total", ascending=False) 
    .reset_index()
)

cols = ["player_name"] + xT_cols  
ranking = players_xT.merge(players, how="left")[cols]
top = ranking.head(10)
bottom = ranking.tail(5)
pd.concat([top,bottom])

               player_name  xT_total  xT_move_succ  xT_move_fail  xT_def_succ
0                   Neymar  2.337695      2.861442     -0.583221     0.059475
1              Eden Hazard  1.656580      1.979697     -0.557754     0.234637
2             Lionel Messi  1.329859      1.660987     -0.375063     0.043936
3               Toni Kroos  1.272714      1.310106     -0.163964     0.126572
4        Philippe Coutinho  1.242738      1.497430     -0.404728     0.150037
5           Joshua Kimmich  1.126720      1.536462     -0.517976     0.108234
6          Kevin De Bruyne  1.079036      1.566445     -0.701016     0.213607
7               Paul Pogba  1.056786      1.306917     -0.531513     0.281382
8             N'Golo Kanté  0.985389      0.645915     -0.387111     0.726585
9           Thomas Meunier  0.974653      1.101780     -0.399118     0.271991
597        Willy Caballero -0.103961      0.047879     -0.151840     0.000000
598  Carlos Andrés Sánchez -0.106081      0.108223     -0.236762     0.022459
599   Morteza Pouraliganji -0.109356      0.042578     -0.151933     0.000000
600      Andreas Cornelius -0.113262      0.076977     -0.190240     0.000000
601       Hördur Magnússon -0.194090      0.092190     -0.426431     0.140152

In [11]:
# Top 10 players by action type

type_names = ["pass", "dribble", "cross", "interception", "tackle"]

tops = []

for type_name in type_names:
    players_xT = (
        A[A.type_name == type_name]
        .groupby(['player_id', 'type_name']) 
        .agg({'xT_total': 'sum', 'xT_move_succ': 'sum', 'xT_move_fail': 'sum', 'xT_def_succ': 'sum'}) 
        .sort_values("xT_total", ascending=False) 
        .reset_index()
    )

    cols = ["player_name", "type_name"] + xT_cols  
    ranking = players_xT.merge(players, how="left")[cols]
    tops.append(ranking.head(5))

pd.concat(tops)

,player_name,type_name,xT_total,xT_move_succ,xT_move_fail,xT_def_succ
0,Toni Kroos,pass,0.596821,0.760785,-0.163964,0.000000
1,Jérôme Boateng,pass,0.400867,0.558163,-0.157296,0.000000
2,Paul Pogba,pass,0.359823,0.871590,-0.511766,0.000000
3,Sergio Ramos,pass,0.347909,0.574305,-0.226397,0.000000
4,Neymar,pass,0.303795,0.791399,-0.487604,0.000000
0,Neymar,dribble,1.498708,1.498708,0.000000,0.000000
1,Eden Hazard,dribble,1.166985,1.166985,0.000000,0.000000
2,Lionel Messi,dribble,1.025138,1.025138,0.000000,0.000000
3,Philippe Coutinho,dribble,0.811467,0.811467,0.000000,0.000000
4,Kylian Mbappé,dribble,0.791331,0.791331,0.000000,0.000000
0,Joshua Kimmich,cross,0.583080,0.825579,-0.242499,0.000000
1,Neymar,cross,0.475718,0.571334,-0.095617,0.000000
2,Dušan Tadić,cross,0.431296,0.465971,-0.034675,0.000000
3,Mikael Lustig,cross,0.424049,0.465944,-0.041894,0.000000
4,Šime Vrsaljko,cross,0.414213,0.642077,-0.227864,0.000000
0,N'Golo Kanté,interception,0.404933,0.000000,0.000000,0.404933
1,Martín Cáceres,interception,0.287814,0.000000,0.000000,0.287814
2,Emil Hallfreðsson,interception,0.239316,0.000000,0.000000,0.239316
3,Marcelo,interception,0.233684,0.000000,0.000000,0.233684
4,Roman Zobnin,interception,0.215351,0.000000,0.000000,0.215351
0,Casemiro,tackle,0.481587,0.000000,0.000000,0.481587
1,Marouane Fellaini,tackle,0.372311,0.000000,0.000000,0.372311
2,Mario Mandžukić,tackle,0.327442,0.000000,0.000000,0.327442
3,N'Golo Kanté,tackle,0.321653,0.000000,0.000000,0.321653
4,Wílmar Barrios,tackle,0.274868,0.000000,0.000000,0.274868

In [545]:
# Top  10 teams

teams_xT = (
    A
    .groupby(['team_id']) 
    .agg({'xT_total': 'sum', 'xT_move_succ': 'sum', 'xT_move_fail': 'sum', 'xT_def_succ': 'sum'})  
    .sort_values("xT_total", ascending=False) 
    .reset_index()
)
    

teams = games[["home_team_id", "home_team_name"]] \
    .drop_duplicates().reset_index(drop=True) \
    .rename(columns={"home_team_id": "team_id", "home_team_name": "team_name"})

cols = ["team_name"] + xT_cols
teams_xT.merge(teams, how="left")[cols]

       team_name  xT_total  xT_move_succ  xT_move_fail  xT_def_succ
0        Belgium  9.403559     11.734200     -4.877135     2.546494
1         Brazil  9.041579     10.757892     -4.018248     2.301936
2        Germany  6.232441      8.196901     -3.137165     1.172705
3          Spain  6.058288      8.287597     -3.339702     1.110393
4         France  5.648477      8.405249     -5.224302     2.467530
5        England  5.648437      9.388171     -5.537510     1.797777
6        Croatia  4.779132      9.700445     -7.156207     2.234893
7         Mexico  4.353459      4.954446     -2.595083     1.994096
8         Serbia  4.050763      5.153201     -2.444815     1.342377
9        Uruguay  3.841130      5.804762     -4.066866     2.103233
10     Argentina  3.795832      6.014225     -3.775845     1.557452
11   Switzerland  3.451972      4.944220     -3.072916     1.580668
12      Portugal  3.255419      5.292004     -3.143075     1.106490
13       Tunisia  3.158387      3.783579     -2.117008     1.491816
14        Sweden  2.750711      4.729533     -3.539053     1.560230
15         Japan  2.634454      4.494260     -3.016028     1.156221
16       Denmark  2.535065      4.202644     -3.115044     1.447465
17       Senegal  2.438274      3.535958     -2.290914     1.193230
18      Colombia  2.414027      4.395642     -3.610842     1.629226
19          Peru  2.383379      3.586539     -2.232370     1.029210
20  Saudi Arabia  2.383069      3.114112     -2.238257     1.507214
21        Russia  2.289485      5.234493     -4.681218     1.736210
22     Australia  2.236577      3.608165     -2.422149     1.050560
23         Egypt  2.007166      3.414755     -2.807777     1.400188
24        Poland  1.993757      3.342759     -2.343807     0.994805
25       Morocco  1.921714      3.005058     -2.235671     1.152327
26   South Korea  1.853839      2.853025     -1.856977     0.857790
27       Nigeria  1.835730      2.989310     -2.442059     1.288478
28    Costa Rica  1.835321      3.096663     -2.210367     0.949025
29       Iceland  1.730934      2.418495     -2.292874     1.605312
30        Panama  1.728395      2.172256     -1.553970     1.110110
31          Iran  0.942850      2.030010     -2.114347     1.027187