Be sure to run the following notebook first before running this notebook:
- 1-load-and-convert-statsbomb-data.ipynb

In [190]:
%load_ext autoreload
%autoreload 2
import os;

import tqdm
import pandas as pd
import numpy as np
import socceraction.vaep.features as fs
import socceraction.xthreat as xthreat

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [95]:
## Configure file and folder names, use SPADL format.
datafolder = "../data-fifa"
spadl_h5 = os.path.join(datafolder,"spadl-statsbomb.h5")

In [96]:
## Select games
games = pd.read_hdf(spadl_h5,"games")
games = games[games.competition_name == "FIFA World Cup"]
print("nb of games:", len(games))

actiontypes = pd.read_hdf(spadl_h5, "actiontypes")
bodyparts = pd.read_hdf(spadl_h5, "bodyparts")
results = pd.read_hdf(spadl_h5, "results")
players = pd.read_hdf(spadl_h5, "players")
players["player_name"] = players[["player_nickname","player_name"]].apply(lambda x: x[0] if x[0] else x[1],axis=1)

nb of games: 64

In [97]:
## Read in all actions of games
A = []

for game in tqdm.tqdm(list(games.itertuples())):
    actions = pd.read_hdf(spadl_h5,f"actions/game_{game.game_id}")
    actions = (
        actions.merge(actiontypes,how="left")
        .merge(results,how="left")
        .merge(bodyparts,how="left")
        #.sort_values(["period_id", "time_seconds", "timestamp"])
        .reset_index(drop=True)
    )
    [actions] = fs.play_left_to_right([actions],game.home_team_id)
        
    A.append(actions) 
    
A = pd.concat(A).reset_index(drop = True)

100%|██████████████████████████████████████████████████████████████████████████████████| 64/64 [00:01<00:00, 35.92it/s]

In [195]:
from socceraction.grid import PolarGrid
from socceraction.timeframe import QuarterTimeFrame

xTModel = xthreat.ExpectedThreat()
xTModel.fit(A)

xTModel2 = xthreat.ExpectedThreat(timeframe = QuarterTimeFrame())
xTModel2.fit(A)

# iterations:  45
# iterations:  47

In [196]:
# split actions according to type

mov_actions = xthreat.get_move_actions(A)
succ_mov_actions = xthreat.get_successful(mov_actions)
# fail_mov_actions = xthreat.get_failed(mov_actions)
# def_actions = xthreat.get_defensive_actions(A)
# succ_def_actions = xthreat.get_successful(def_actions)

# calculate xT for various action types

A["xT"] = xTModel.predict(succ_mov_actions[:])
A["xT_2"] = xTModel2.predict(succ_mov_actions[:])
# A["xT_move_fail"] = xTModel.predict_failed_move_actions(fail_mov_actions)
# A["xT_def_succ"] = xTModel.predict_successful_def_actions(succ_def_actions)

# A["xT_total"] = A["xT_move_succ"].fillna(0) + A["xT_move_fail"].fillna(0) + A["xT_def_succ"].fillna(0)

xT_cols = ["xT", "xT_2"]

In [200]:
# Top 10 actions

actions_xT = mov_actions.sort_values("xT_2", ascending=False).reset_index()
    
cols = ["player_name", "period_id", "timestamp"] + xT_cols
ranking = actions_xT.merge(players, how="left")[cols]
top = ranking.head(20)
bottom = ranking.tail(5)
pd.concat([top,bottom])

              player_name  period_id     timestamp        xT      xT_2
0            Ivan Perišić          4  00:03:01.550  0.056210  0.604895
1         Oussama Haddadi          2  00:20:20.533  0.208363  0.286168
2          Joshua Kimmich          2  00:25:48.893  0.220631  0.285577
3         Mário Fernandes          2  00:26:27.883  0.212436  0.279876
4          Thomas Meunier          2  00:16:42.860  0.191703  0.248227
5         Kevin De Bruyne          2  00:23:10.133  0.179256  0.218262
6          André Carrillo          2  00:18:36.240  0.163417  0.211119
7             Ali Maâloul          2  00:03:59.547  0.172039  0.210119
8          Olivier Giroud          1  00:14:47.360  0.113900  0.208451
9         Youri Tielemans          2  00:44:15.280  0.137894  0.205848
10        Sergio Busquets          2  00:09:01.640  0.152212  0.205823
11            Dušan Tadić          2  00:30:44.613  0.164756  0.205159
12            Dušan Tadić          1  00:04:46.720  0.179628  0.205150
13           Miguel Layún          2  00:11:53.573  0.186071  0.205080
14                 Neymar          2  00:19:48.120  0.176877  0.204958
15        Daniel Carvajal          2  00:45:07.620  0.231008  0.204604
16      Raphaël Guerreiro          2  00:09:12.359  0.175165  0.200955
17            Eden Hazard          2  00:28:21.980  0.172016  0.200270
18          João Moutinho          1  00:03:53.500  0.178096  0.197174
19                 Neymar          2  00:43:24.360  0.196716  0.195965
111223      Thomas Müller          2  00:42:08.813       NaN       NaN
111224      Thomas Müller          2  00:42:57.933       NaN       NaN
111225      Julian Brandt          2  00:44:41.893       NaN       NaN
111226        Timo Werner          2  00:46:04.013       NaN       NaN
111227         Marco Reus          2  00:48:03.773       NaN       NaN

In [198]:
# Top 10 players

players_xT = (
    A
    .groupby(['player_id']) 
    .agg({'xT': 'sum', 'xT_2': 'sum'}) 
    .sort_values("xT_2", ascending=False) 
    .reset_index()
)

cols = ["player_name"] + xT_cols  
ranking = players_xT.merge(players, how="left")[cols]
top = ranking.head(10)
bottom = ranking.tail(5)
pd.concat([top,bottom])

           player_name        xT      xT_2
0               Neymar  3.078027  3.125373
1          Eden Hazard  1.889653  2.122425
2       Joshua Kimmich  1.697262  1.739647
3      Kevin De Bruyne  1.702185  1.672054
4                 Isco  1.495937  1.642239
5         Ivan Perišić  1.086776  1.517237
6    Philippe Coutinho  1.283439  1.441814
7           Toni Kroos  1.217170  1.421617
8         Ivan Rakitić  1.275952  1.383684
9       Thomas Meunier  1.357492  1.381121
597      Bassem Srarfi  0.000000  0.000000
598       Miguel Borja  0.000000  0.000000
599          Ian Smith  0.000000  0.000000
600    Florian Thauvin  0.000000  0.000000
601      Danny Welbeck  0.000000  0.000000

In [17]:
# Top 10 players by action type

type_names = [ "tackle"]

tops = []

for type_name in type_names:
    players_xT = (
        A[A.type_name == type_name]
        .groupby(['player_id', 'type_name']) 
        .agg({'xT_total': 'sum', 'xT_move_succ': 'sum', 'xT_move_fail': 'sum', 'xT_def_succ': 'sum'}) 
        .sort_values("xT_total", ascending=False) 
        .reset_index()
    )

    cols = ["player_name", "type_name"] + xT_cols  
    ranking = players_xT.merge(players, how="left")[cols]
    tops.append(ranking.head(5))

pd.concat(tops)

,player_name,type_name,xT_total,xT_move_succ,xT_move_fail,xT_def_succ
0,Mario Mandžukić,tackle,0.405135,0.0,0.0,0.405135
1,N'Golo Kanté,tackle,0.329154,0.0,0.0,0.329154
2,Casemiro,tackle,0.291139,0.0,0.0,0.291139
3,Wílmar Barrios,tackle,0.285770,0.0,0.0,0.285770
4,Marouane Fellaini,tackle,0.252877,0.0,0.0,0.252877

In [246]:
# Top  10 teams

teams_xT = (
    A
    .groupby(['team_id']) 
    .agg({'xT_total': 'sum', 'xT_move_succ': 'sum', 'xT_move_fail': 'sum', 'xT_def_succ': 'sum'})  
    .sort_values("xT_total", ascending=False) 
    .reset_index()
)
    

teams = games[["home_team_id", "home_team_name"]] \
    .drop_duplicates().reset_index(drop=True) \
    .rename(columns={"home_team_id": "team_id", "home_team_name": "team_name"})

cols = ["team_name"] + xT_cols
teams_xT.merge(teams, how="left")[cols]

       team_name   xT_total  xT_move_succ  xT_move_fail  xT_def_succ
0        Belgium  10.827691     11.734200     -3.453003     2.546494
1         Brazil  10.460456     10.757892     -2.599371     2.301936
2        Germany   7.920912      8.196901     -1.448694     1.172705
3        England   7.567443      9.388171     -3.618504     1.797777
4          Spain   7.386202      8.287597     -2.011788     1.110393
5         France   6.810556      8.405249     -4.062223     2.467530
6        Croatia   6.399470      9.700445     -5.535869     2.234893
7        Uruguay   4.915307      5.804762     -2.992689     2.103233
8         Mexico   4.881698      4.954446     -2.066843     1.994096
9         Serbia   4.792927      5.153201     -1.702652     1.342377
10     Argentina   4.636991      6.014225     -2.934686     1.557452
11   Switzerland   4.342987      4.944220     -2.181902     1.580668
12      Portugal   3.887392      5.292004     -2.511102     1.106490
13        Sweden   3.527338      4.729533     -2.762426     1.560230
14       Tunisia   3.524440      3.783579     -1.750955     1.491816
15       Denmark   3.385181      4.202644     -2.264927     1.447465
16        Russia   3.343830      5.234493     -3.626872     1.736210
17         Japan   3.160641      4.494260     -2.489840     1.156221
18      Colombia   3.061065      4.395642     -2.963804     1.629226
19       Senegal   2.902712      3.535958     -1.826476     1.193230
20     Australia   2.887796      3.608165     -1.770930     1.050560
21          Peru   2.798065      3.586539     -1.817684     1.029210
22  Saudi Arabia   2.779207      3.114112     -1.842119     1.507214
23         Egypt   2.689588      3.414755     -2.125355     1.400188
24        Poland   2.531333      3.342759     -1.806232     0.994805
25       Iceland   2.364135      2.418495     -1.659672     1.605312
26       Morocco   2.339882      3.005058     -1.817503     1.152327
27       Nigeria   2.218779      2.989310     -2.059009     1.288478
28    Costa Rica   2.201625      3.096663     -1.844063     0.949025
29   South Korea   2.182308      2.853025     -1.528507     0.857790
30        Panama   1.960151      2.172256     -1.322214     1.110110
31          Iran   1.085069      2.030010     -1.972129     1.027187